---
import Layout from '@layouts/BaseLayout.astro';
import { projects } from '@data/projects';
import { authorInfo } from '@data/author';
import ProjectGallery from '@components/projects/ProjectGallery.astro';

export function getStaticPaths() {
  const allId = [...new Set(projects.map((p) => p.id.toLowerCase()))];

  const result = allId.map((id) => ({
    params: { id: id },
  }));

  return result;
}

const { id } = Astro.params;

const currentProject = projects.find((p) => p.id.toLowerCase() === id);

const nameProject = id.charAt(0).toUpperCase() + id.slice(1);
---

<Layout title={`${nameProject} - ${authorInfo.name}`}>
  <section class="projects-work section-offset">
    <div class="container projects-work__inner">
      <h1 class="projects-work__title visually-hidden">
        {nameProject} — фотостудия {authorInfo.name}
      </h1>
      <ul class="projects-work__list list-reset">
        {currentProject && <ProjectGallery project={currentProject} />}
      </ul>
    </div>
  </section>
</Layout>
